.header-container {
    height: 53px;
    background: linear-gradient(182.65deg, #78c9ce 0%, #2496a2 99.98%, #2496a2 100%);
    border-bottom: 7px solid rgba($color: #ffff, $alpha: 0.3);

    .header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navigation {
    .navigation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px 0px;
        border-bottom: 2px solid #2da1ad;
        .navigation-items {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            li {
                &:not(:last-child):after {
                    content: "|";
                    color: #bbc4c3;
                }

                a {
                    font-size: 14px;
                    line-height: 17px;
                    font-weight: bold;
                    letter-spacing: 0;
                    color: #bbc4c3;
                    padding: 0px 28px;
                    text-decoration: none;

                    &:hover {
                        color: #2da1ad;
                    }

                    &.is-active {
                        color: #2da1ad;
                    }
                }
            }
        }
    }
}

.search-container {
    padding: 23px 0px 25px;
    .search {
        display: flex;
        justify-content: center;
        align-items: center;
        .search-input {
            background: url("../../assets/search-icon.svg") no-repeat scroll 15px 14px;
            background-position: 22px center;
            padding-left: 60px;
            max-width: 540px;
            box-shadow: 0 2px 34px 0 #e3e3e3;
            height: 50px;
            border-radius: 4px;
        }
    }
}

@media (min-width: 480px) {    
    .navigation {
        .navigation-container {
            padding: 48px 0px;
            .navigation-items {
                li {    
                    a {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }
        }
    }
    
    .search-container {
        padding: 58px 0px 61px;
        .search {
            .search-input {
                height: 60px;
            }
        }
    } 
}
