.header-container {
    height: 53px;
    background: linear-gradient(182.65deg, #78c9ce 0%, #2496a2 99.98%, #2496a2 100%);
    border-bottom: 7px solid rgba($color: #ffff, $alpha: 0.3);

    .header {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navigation {
    .navigation-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 48px 0px;
        border-bottom: 2px solid #2da1ad;
        .navigation-items {
            padding: 0;
            margin: 0;
            display: flex;
            list-style: none;
            li {
                &:not(:last-child):after {
                    content: "|";
                    color: #BBC4C3;
                }

                a {
                    font-family: "Lato", sans-serif;
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 22px;
                    color: #bbc4c3;
                    padding: 0px 30px;
                    text-decoration: none;

                    &:hover {
                        color: #2da1ad;
                    }

                    &.is-active {
                        color: #2da1ad;
                    }
                }
            }
        }
    }
}
