.card {
    display: flex;
    flex-direction: row-reverse;
    min-height: 60px;
    margin-bottom: 10px;
    padding: 0px 13px;

    &:hover {
        border: 1px solid #2da1ad;
    }

    .card-actions {
        min-width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        line-height: unset;

        button {
            position: relative;
            z-index: 1;
            background: none;
            height: unset;
            border: none;
            line-height: 12px;
            padding: 0px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0px;

        .card-img {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 46px;
            width: 46px;
            border: 3px solid rgba(187, 196, 195, 1);
            border-radius: 100%;
        }

        .card-title {
            color: #bbc4c3;
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 17px;
            text-align: center;
            width: 100%;
            margin: 0px;
            padding-left: 10px;
        }
    }
}

@media (min-width: 480px) {
    .card {
        min-height: 150px;
        flex-direction: column;
        margin-bottom: 30px;

        .card-actions {
            padding-top: 15px;
            padding-left: unset;

            .like {
                margin-right: auto;
            }

            .edit {
                margin-right: 25px;
            }
        }

        .card-body {
            flex-direction: column;
            padding: 0;
            margin-top: -12px;

            .card-img {
                height: 66px;
                width: 66px;
            }

            .card-title {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 13px 0px 23px;
            }
        }
    }
}
