<div class="add-contact-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="add-navigation mobile">
                            <button class="back" (click)="goBack()">
                                <img src="../../assets/back-icon.svg" alt="Back icon" width="20" height="16">
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <div class="add-img-container">
                            <div class="add-img">
                                <img class="upload-img" src="../../assets/upload-icon.svg" alt="Upload icon" width="21" height="19">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 col-xl-9">
                        <div class="add-navigation">
                            <button class="back" (click)="goBack()">
                                <img src="../../assets/back-icon.svg" alt="Back icon" width="20" height="16">
                            </button>
                        </div>
                        <form [formGroup]="editEmployeeForm" (ngSubmit)="register()">
                            <div class="form-group">
                                <label class="person" for="fullName">full name</label>
                                <input type="text" class="form-control" placeholder="Full name"
                                    formControlName="fullName">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label class="email" for="email">email</label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label class="numbers" for="numbers">numbers</label>
                                <div class="row">
                                    <div class="col-12 col-sm-6 col-lg-6">
                                        <input type="email" class="form-control" placeholder="+385 21 546 456"
                                            formControlName="numbers">
                                    </div>
                                    <div class="col-9 col-sm-4 col-lg-5">
                                        <input type="email" class="form-control" placeholder="Home"
                                            formControlName="numbers">
                                    </div>
                                    <div class="col-3 col-sm-2 col-lg-1">
                                        <div class="remove-add-container">
                                            <div class="icon"><span>&#10005;</span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="remove-add-container add">
                                            <div class="icon"><span>&#10005;</span></div>
                                            <span>Add number</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn button-primary gray">Cancel</button>
                                <button type="submit" class="btn button-primary blue">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>