<div class="contact-details-container">
    <div class="container">
        <div class="row" *ngIf="contactDetails">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="edit-navigation mobile">
                            <button class="back" (click)="goBack()">
                                <img src="../../assets/back-icon.svg" alt="Back icon" width="20" height="16">
                            </button>
                            <button class="like" (click)="markFavorite(contactDetails)">
                                <div class="heart-icon" [class.liked]="contactDetails.liked"></div>
                            </button>
                            <button class="edit" [routerLink]="'/edit-contact/' + contactDetails.id">
                                <img src="../../assets/edit-icon.svg" alt="Edit icon" width="16" height="16">
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <div class="contact-header-container">
                            <div class="img-container">
                                <div class="img" [style.background]="'url(' + contactDetails.image + ')'"></div>
                            </div>
                            <h3 class="contact-name">{{contactDetails.fullName}}</h3>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 col-xl-9">
                        <div class="edit-navigation">
                            <div class="contact-name-container">
                                <button class="back" (click)="goBack()">
                                    <img src="../../assets/back-icon.svg" alt="Back icon" width="21" height="16">
                                </button>
                                <h3 class="contact-name">{{contactDetails.fullName}}</h3>
                            </div>
                            <div class="actions-container">
                                <button class="like" (click)="markFavorite(contactDetails)">
                                    <div class="heart-icon" [class.liked]="contactDetails.liked"></div>
                                </button>
                                <button class="edit" [routerLink]="'/edit-contact/' + contactDetails.id">
                                    <img src="../../assets/edit-icon.svg" alt="Edit icon" width="16" height="16">
                                </button>
                            </div>
                        </div>
                        <div class="contact-details">
                            <div class="email-container">
                                <label class="email-label">email</label>
                                <a class="email" href="mailto: {{contactDetails.email}}">{{contactDetails.email}}</a>
                            </div>
                            <div class="numbers-container">
                                <label class="numbers-label">numbers</label>
                                <div class="contacts-container">
                                    <div class="contact" *ngFor="let contact of contactDetails.numbers">
                                        <h5>{{contact.cell}}</h5>
                                        <a href="tel:{{contact.number}}">{{contact.number}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>