<div class="all-contacts-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="card add-new" routerLink="/add-contact">
                    <div class="card-body">
                        <img src="../../assets/plus-icon.svg" alt="Plus icon" width="18" height="18">
                        <h5 class="card-title">Add new</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3" *ngFor="let contact of contacts; let i = index" (click)="goToContactDetails()">
                <div class="card">
                    <div class="card-actions">
                        <button class="like">
                            <div class="heart-icon" [class.liked]="contact.liked"></div>
                        </button>
                        <button class="edit" routerLink="/edit-contact">
                            <img src="../../assets/edit-icon.svg" alt="Edit icon" width="16" height="16">
                        </button>
                        <button class="delete">
                            <img src="../../assets/delete-icon.svg" alt="Delete icon" width="13" height="17">
                        </button>
                    </div>
                    <div class="card-body">
                        <img class="card-img" src="../../assets/logo.svg" alt="Card image">
                        <h5 class="card-title">{{contact.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>