.card {
    display: flex;
    flex-direction: row-reverse;
    min-height: 60px;
    margin-bottom: 10px;
    padding: 0px 13px;

    &:hover {
        border: 1px solid #2da1ad;
    }

    .card-actions {
        min-width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        line-height: unset;
        .heart-icon {
            background-color: #bbc4c3;
            -webkit-mask: url("../../assets/heart-icon.svg") no-repeat center;
            mask: url("../../assets/heart-icon.svg") no-repeat center;
            height: 14px;
            width: 15px;

            &.liked, &:hover{
                -webkit-mask: url("../../assets/heart-icon-fill.svg") no-repeat center;
                mask: url("../../assets/heart-icon-fill.svg") no-repeat center;
            }
        }

        button {
            position: relative;
            z-index: 1;
            background: none;
            height: unset;
            border: none;
            line-height: 12px;
            padding: 0px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0px;

        .card-img {
            height: 46px;
            width: 46px;
            border: 3px solid rgba(187, 196, 195, 0.3);
            border-radius: 100%;
        }

        .card-title {
            color: #bbc4c3;
            font-family: Lato;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            text-align: center;
            width: 100%;
            margin: 0px;
            padding-left: 10px;
        }
    }

    &.add-new {
        border: 1px dashed #2da1ad;
        opacity: 0.5;
        border-radius: 4px;

        &:hover {
            opacity: 1;
        }
        .card-body {
            padding-left: 15px;
            justify-content: flex-start;
            margin-top: 0px;
            .card-title {
                color: #2da1ad;
                font-weight: normal;
                padding: 0px 0px 0px 13px;
                width: unset;
            }
        }
    }
}

@media (min-width: 480px) {
    .card {
        min-height: 150px;
        flex-direction: column;
        margin-bottom: 30px;

        .card-actions {
            padding-top: 15px;
            padding-left: unset;

            .like {
                margin-right: auto;
            }

            .edit {
                margin-right: 25px;
            }
        }

        .card-body {
            flex-direction: column;
            margin-top: -12px;
            padding: 0;

            .card-img {
                height: 66px;
                width: 66px;
            }

            .card-title {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 13px 0px 23px;
            }
        }

        &.add-new {
            .card-body {
                padding-left: unset;
                justify-content: center;
                margin-top: 0px;
                .card-title {
                    font-size: 16px;
                    line-height: 19px;
                    padding: 13px 0px 0px;
                }
            }
        }
    }
}
