@import '../../colors.scss';

.card {
    display: flex;
    flex-direction: row-reverse;
    min-height: 60px;
    margin-bottom: 10px;
    padding: 0px 13px;

    .card-actions {
        min-width: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;
        line-height: unset;

        button {
            position: relative;
            z-index: 1;
            background: none;
            height: unset;
            border: none;
            line-height: 12px;
            padding: 0px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-body {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        padding: 0px;

        .card-img {
            background-size: cover !important;
            background-repeat: no-repeat !important;
            height: 46px;
            width: 46px;
            border: 1px solid #eaeded;
            border-radius: 100%;
        }

        .card-title {
            text-transform: capitalize;
            color: $SecondaryColor;
            font-size: 14px;
            font-weight: bold;
            line-height: 17px;
            text-align: center;
            width: 100%;
            margin: 0px;
            padding-left: 10px;
        }
    }
}

@media (min-width: 480px) {
    .card {
        min-height: 150px;
        flex-direction: column;
        margin-bottom: 30px;

        &:hover {
            border: 1px solid $PrimaryColor;

            .card-body {
                .card-title {
                    color: $PrimaryColor;
                }
            }
        }

        .card-actions {
            height: 30px;
            padding-top: 15px;
            padding-left: unset;
            .like {
                margin-right: auto;
            }
        }

        .card-body {
            flex-direction: column;
            margin-top: -5px;
            padding: 0;

            .card-img {
                height: 66px;
                width: 66px;
            }

            .card-title {
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                padding: 13px 0px 23px;
            }
        }

        &.add-new {
            .card-body {
                padding-left: unset;
                justify-content: center;
                margin-top: 0px;
                .card-title {
                    font-size: 16px;
                    line-height: 19px;
                    padding: 13px 0px 0px;
                }
            }
        }
    }
}
