/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Lato" !important;
    line-height: unset !important;
    letter-spacing: 0;
}

.loading {
    color: #fff;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

button {
    cursor: pointer;
    border: none;
    &:focus {
        outline: unset !important;
    }
}

.btn:hover {
    color: #fff !important;
}

button:disabled,
button[disabled] {
    opacity: 0.5!important;
}

.form-actions {
    display: flex;
    justify-content: space-between;

    .button-primary {
        border-radius: 28.5px;
        color: #ffffff;
        font-size: 14px;
        font-weight: bold;
        line-height: 17px;
        text-align: center;
        padding: 12px 48px;
        &.gray {
            background-color: #bbc4c3;
        }
        &.blue {
            background-color: #2da1ad;
        }
    }
}

.heart-icon {
    background-color: #bbc4c3;
    -webkit-mask: url("./assets/heart-icon.svg") no-repeat center;
    mask: url("./assets/heart-icon.svg") no-repeat center;
    height: 14px;
    width: 15px;

    &.liked,
    &:hover {
        -webkit-mask: url("./assets/heart-icon-fill.svg") no-repeat center;
        mask: url("./assets/heart-icon-fill.svg") no-repeat center;
    }
}

@media (min-width: 768px) {
    .form-actions {
        .button-primary {
            padding: 12px 65px;
        }
    }
}
