<div class="card">
    <div class="card-actions">
        <button class="like" (click)="markFavorite(contact)">
            <div class="heart-icon" [class.liked]="contact.liked"></div>
        </button>
        <button class="edit" [routerLink]="'/edit-contact/' + contact.id">
            <img src="../../assets/edit-icon.svg" alt="Edit icon" width="16" height="16">
        </button>
        <button class="delete" (click)="deleteContact(contact.id)">
            <img src="../../assets/delete-icon.svg" alt="Delete icon" width="13" height="17">
        </button>
    </div>
    <div class="card-body" (click)="goToContactDetails(contact.id)">
        <div class="card-img" [style.background]="'url(' + contact.image + ')'" alt="Contact image">
        </div>
        <h5 class="card-title">{{contact.fullName}}</h5>
    </div>
</div>