.edit-contact-container {
    padding-bottom: 40px;

    .add-img-container {
        display: flex;
        justify-content: center;
        padding: 22px 0px;

        .inputWrapper {
            display: none;
        }

        .img-placeholder {
            position: relative;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            border: 3px solid #eaeded;
            border-radius: 100%;
            min-height: 186px;
            width: 186px;
            max-width: 186px;
            margin: 20px 0px;
            padding: 60px 0px;
            cursor: pointer;

            &:hover {
                .remove-img {
                    background-color: rgba(0, 0, 0, 0.4);
                    opacity: 1;
                }
            }

            .remove-img {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                color: #fff;
                border-radius: 100%;
                transition: 0.5s ease;
                opacity: 0;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                text-align: center;
            }
        }
    }

    .edit-navigation {
        display: none;
        justify-content: space-between;

        button {
            background: none;
            height: unset;
            border: none;
            line-height: 12px;
            padding: 0px;

            &:hover {
                cursor: pointer;
                span {
                    color: #2da1ad;
                }
            }
        }

        &.mobile {
            display: flex;
            border-bottom: 1px solid #bbc4c3;
            padding: 15px 0px;
        }
    }

    label {
        width: 100%;
        color: #2da1ad;
        font-size: 14px;
        line-height: 17px;
        font-weight: bold;
        padding: 17px 0px 17px 30px;
        border-top: 2px solid #2da1ad;

        &.person {
            background: url("../../assets/person-icon.svg") no-repeat scroll 15px 15px;
            background-position: left center;
        }

        &.email {
            background: url("../../assets/email-icon.svg") no-repeat scroll 15px 10px;
            background-position: left center;
        }

        &.numbers {
            background: url("../../assets/telephone-icon.svg") no-repeat scroll 14px 14px;
            background-position: left center;
        }
    }

    .remove-add-container {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        outline: none;
        border: none;
        .icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 32px;
            width: 32px;
            font-size: 10px;
            line-height: 12px;
            color: #bbc4c3;
            border: 1px solid #bbc4c3;
            border-radius: 100%;
            margin: 0;
        }

        span {
            cursor: pointer;
            color: #bbc4c3;
        }

        &:hover {
            .icon {
                border: 1px solid #2da1ad;
            }
            span {
                color: #2da1ad;
            }
        }

        &.add {
            height: unset;
            justify-content: flex-start;
            margin: 15px 0px 90px;
            .icon {
                margin-right: 15px;
                transform: rotate(45deg);
            }
        }
    }

    input {
        margin-bottom: 30px;
        height: 60px;
        padding-left: 30px;
        border: 1px solid #bbc4c3;
        opacity: 0.4;
        border-radius: 4px;

        &:hover {
            border: 2px solid #2da1ad;
        }
    }
}

@media (min-width: 768px) {
    .edit-contact-container {
        padding: 60px 0px;
        .add-img-container {
            padding: 0;
            justify-content: flex-end;
        }

        .edit-navigation {
            padding-top: 60px;
            display: flex;
            justify-content: space-between;
            padding-bottom: 22px;

            button {
                span {
                    color: #bbc4c3;
                    font-size: 14px;
                    line-height: 17px;
                    margin-right: 15px;
                }
            }

            &.mobile {
                display: none;
            }
        }

        label {
            font-size: 16px;
            line-height: 19px;
        }
    }
}
