<div class="edit-contact-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="edit-navigation mobile">
                            <button class="back" (click)="goBack()">
                                <img src="../../assets/back-icon.svg" alt="Back icon" width="20" height="16">
                            </button>
                            <button class="delete" (click)="deleteContact()">
                                <img src="../../assets/delete-icon.svg" alt="delete icon" width="13" height="17">
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3">
                        <div class="add-img-container">
                            <div>
                                <div (click)="fileUploader.click()" class="img-placeholder"
                                    [style.background]="'url(' + image.value + ')'">
                                    <div class="remove-img"><span>&#10005;</span></div>
                                </div>
                                <div class="inputWrapper">
                                    <input type="file" #fileUploader [(ngModel)]="newImage"
                                        (change)="showPreview($event)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9 col-xl-9">
                        <div class="edit-navigation">
                            <button class="back" (click)="goBack()">
                                <img src="../../assets/back-icon.svg" alt="Back icon" width="20" height="16">
                            </button>
                            <button class="delete" (click)="deleteContact()">
                                <span>Delete</span>
                                <img src="../../assets/delete-icon.svg" alt="delete icon" width="13" height="17">
                            </button>
                        </div>
                        <form [formGroup]="editContactForm">
                            <div class="form-group">
                                <label class="person" for="fullName">full name</label>
                                <input type="text" class="form-control" placeholder="Full name"
                                    formControlName="fullName">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div class="form-group">
                                <label class="email" for="email">email</label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                            </div>
                            <div formArrayName="numbers" class="form-group">
                                <label class="numbers" for="numbers">numbers</label>
                                <div class="row"
                                    *ngFor="let contact of editContactForm.get('numbers')['controls']; let i = index"
                                    [formGroupName]="i">
                                    <div class="col-12 col-sm-6 col-lg-6">
                                        <input type="tel" class="form-control" placeholder="Number"
                                            formControlName="number">
                                    </div>
                                    <div class="col-9 col-sm-4 col-lg-5">
                                        <input type="text" class="form-control" placeholder="Cell"
                                            formControlName="cell">
                                    </div>
                                    <div class="col-3 col-sm-2 col-lg-1">
                                        <button class="remove-add-container" (click)="removeOrClearNumbers(i)">
                                            <div class="icon"><span>&#10005;</span></div>
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <small class="form-text text-muted"
                                            *ngIf="numbers.controls[i].get('number').errors?.required && (numbers.controls[i].get('number').dirty || numbers.controls[i].get('number').touched)">Please
                                            enter a number.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button class="remove-add-container add" (click)="addNumber()">
                                            <div class="icon"><span>&#10005;</span></div>
                                            <span>Add number</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="button" (click)="goBack()" class="btn button-primary gray">Cancel</button>
                                <button type="button" (click)="updateContact()"
                                    class="btn button-primary blue" [disabled]="!editContactForm.valid">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>